doctype html
html(ng-app='CongApp')
  head
    meta(charset='utf-8')
    meta(name='viewpot', content='width=device-width, initial-scale=1')
    meta(http-equiv='x-ua-compatible', content='ie=edge')

    title= title

    link(rel='stylesheet', href='//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
      .container
        .navbar-header
          a.navbar-brand(href='/') LiaoJunCong

        .collapse.navbar-collapse
          ul.nav.navbar-nav.pull-right
            li
              a(href='#/dashboard') 首页
            li
              a(href='#/Books') 读物
            li
              a(href='#/About') 关于
            li
              a(href='#/Register') 注册
            li
              a(href='#/Login') 登录
    .content.container.page-wrap(ui-view)

    footer.container
      .row
        .col-xs-12
          small &copy; liaojuncong 2016
  script(src='//cdn.bootcss.com/jquery/2.2.4/jquery.js')
  script(src='//cdn.bootcss.com/angular.js/1.5.5/angular.min.js')
  script(src='//cdn.bootcss.com/angular-ui-router/0.3.0/angular-ui-router.min.js')
  script(src='//cdn.bootcss.com/angular.js/1.5.5/angular-animate.js')
  script(src='//cdn.bootcss.com/oclazyload/1.0.9/ocLazyLoad.min.js')
  script(src='//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.js')
  script(src='//cdn.bootcss.com/plupload/2.1.9/plupload.full.min.js')
  script(src='/scripts/string.js')
  script(src='/app/app.js')
  script(src='/app/routes.js')
  script(src='/app/directives.js')
  script(src='/scripts/books.js')
  link(id='ng_load_plugins_before')
